

<!-- NOT USING ANYMORE. NOT USING ANYMORE. NOT USING ANYMORE. -->
<!-- NOT USING ANYMORE. NOT USING ANYMORE. NOT USING ANYMORE. -->
<!-- NOT USING ANYMORE. NOT USING ANYMORE. NOT USING ANYMORE. -->
<!-- NOT USING ANYMORE. NOT USING ANYMORE. NOT USING ANYMORE. -->


<h1>Edit This Task</h1>
          <form>
            <div class="form-group">
              <label>Task Description</label>
              <!-- TODO: Hook up this form to our JS for submitting -->
              <input type="text" class="form-control" placeholder="Some important task" ng-model="editedTask.task"/>
            </div>
            <div class="form-group">
              <label>Due Date</label>
              <input type="text" class="form-control" placeholder="01/12/17" ng-model="editedTask.dueDate"/>
            </div>
            <div class="form-group">
              <label>Assigned To</label>
              <input type="text" class="form-control" placeholder="cohort 15" ng-model="editedTask.assignedTo"/>
            </div>
            <div class="form-group">
              <label>Location</label>
              <input type="text" class="form-control" placeholder="attic" ng-model="editedTask.location"/>
            </div>
            <div class="form-group">
              <label>Urgency</label>
              <input type="text" class="form-control" placeholder="low" ng-model="editedTask.urgency"/>
            </div>
            <div class="form-group">
              <label>Dependencies</label>
              <input type="text" class="form-control" placeholder="brush chipper, monkey chow, the one ring" ng-model="editedTask.dependencies"/>
            </div>
            <!-- TODO: bind this button to a function -->
            <button class="btn btn-default" ng-click="runItemEdit(editedTask)">Submit</button>
          </form>

