<footer class="page-footer container yellow darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Music is the glue that binds us all together!</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Album and Artist information provided by LastFM Music Services © 2016
            <a class="grey-text text-lighten-4 right" href="#/searchDatabase">...SEARCH</a>

            <a class="grey-text text-lighten-4 right" href="#/nav"></a>
            </div>
          </div>
        </footer>
