<section class=" row auth-form">
  <h4 class= "col m6 white-text"><i>An App for Serious Vinyl Collectors...</i></h4>

  <div class= "col m6" white-text>
    <input type="text" class= white-text autofocus="true" ng-model="account.email" placeholder="wtf@gmail.com" style="font-size: 1.5em">
  </div>
  <p></p>
  <div class= "col m6" white-text>
    <input type="password" class= white-text ng-model="account.password" placeholder="Password..." style="font-size: 1.5em">

    <button class="btn btn-info waves-effect waves-light amber black-text z-depth-3" type= "submit" ng-click="login()">Login</button>

    <button class="btn btn-info waves-effect waves-light amber black-text z-depth-3" type= "submit" ng-click="register()">Register</button>


  </button>
  </div>
  <p></p>
  </div>
</section>



