<section class=" row auth-form">
  <h1 class= "col m6 white-text">Login or Register </h1>

  <div class= "col m6" white-text>
    <input type="text" autofocus="true" ng-model="account.email" placeholder="wtf@gmail.com" style="font-size: 1em ">
  </div>
  <p></p>
  <div class= "col m6" white-text>
    <input type="password" class= white-text ng-model="account.password" placeholder="Password..." style="font-size: 1em">
  </div>
  <p></p>
    <button class="btn btn-info amber" ng-click="login()">Login</button>
    <button class="btn btn-info amber" ng-click="register()">Register</button>
  </div>
</section>



