<section class=" row auth-form">
  <h1 class= "col m6 white-text">Login or Register </h1>

  <div class= "col m6">
    Email: <input type="text" autofocus="true" ng-model="account.email" placeholder="wtf@gmail.com" style="font-size: 2em ">
  </div>
  <p></p>
  <div class= "col m6">
    Password: <input type="password" class= white-text ng-model="account.password" placeholder="The Vinyl Countdown" style="font-size: 1em">
  </div>
  <p></p>
    <button class="btn btn-info yellow darken-3" ng-click="login()">Login</button>
    <button class="btn btn-info yellow darken-3" ng-click="register()">Register</button>
  </div>
</section>



