<!-- this is where I would like my saved cards to display -->

<div class="row"></div>

      <div class="row">
        <div class="col s4 " ng-repeat="savedVinyl" on-last-repeat>
          <div class="card">


            <div class="card-image">
              <img ng-src="{{savedVinyl.thumbnail.path}}/portrait_incredible.{{savedVinyl.thumbnail.extension}}">
              <!-- <span class="card-title"><p><strong>{{vinyl.name}}</strong></p></span> -->
            </div>

            <div class="card-content">
              <span><h6><strong>{{savedVinyl.title}}</strong></h6></span>


              <!-- <p id="description" tabindex="0">{{savedVinyl.description}}</p> -->
                                          <!-- fake modal -->
              <div class="fakeModal" ng-init="checked = false">
                                        <!-- delete button -->
              <a class="btn-floating btn-medium waves-effect waves-light red" ng-click="deletevinylCall(savedVinyl)"><i class="material-icons">not_interested</i></a>
                                  <!-- delete button -->
                  <label class="saveLabel">
                    <input type="checkbox" ng-model="checked" />
                    ZAP
                  </label>
                  <div class="content-area sample-show-hide" ng-show="checked">
                    {{savedVinyl.description}}
                    <!-- <button type="button" ng-init="checked = false" ng-model="checked">button</button> -->
                     <label>
                    <input type="checkbox" ng-model="checked" />
                    dismiss
                  </label>
                  </div>
              </div>
                        <!-- fake modal -->

<br>
            </div>
<div>
  {{savedVinyl.date}}
</div>

            <div class="card-action">
              <a ng-href="{{savedVinyl.urls[0].url}}">wiki</a>
            </div>

          </div>
        </div>
      </div>
