<!-- ============= SEARCH BAR ============= -->
<div class="row">
  <form id="databaseSearch remote">

    <input type="text" ng-model="vinylToSearch" placeholder="Search albums by name..." class="col s7 offset-s1 white-text typeahead">


    <button class="waves-effect waves-light btn-floating yellow darken-3 btn"
    ng-click="searchDatabase(vinylToSearch)"><i class="material-icons">search</i></button>

<!-- <img src="http://thumbs3.picclick.com/d/w1600/pict/302033375866_/The-Beatles-I-Feel-Fine-7-VINYL-RECORD.jpg" alt=""> -->

  </form>
</div>


<!-- ============= CARDS TO HOLD VINYL FROM API ============= -->

      <div class="row">
        <div class="col s3" ng-repeat="album in albumList" on-last-repeat>
          <div class="card">
            <div class="card-image">
              <img class="materialboxed hoverable" width="350" ng-src="{{album.ImgUrl}}">
            </div>
            <div class="album-details">
              <span class="album-name"><p>Album Name: {{album.AlbumName}}</p></span>
              <span class="artist-name"><p>Artist: {{album.Artist}}</p></span>
              <button class="waves-effect waves-light btn" type="submit" ng-click="saveVinyl(album)">Add To Your Collection</button>
            </div>
          </div>
        </div>
      </div>









